[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

FireVR579_BurstDebugInformation_DoNotShip/
.vs/
.vscode/
.idea/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
hs_err_pid*.log
*.apk
*.aab
*.unitypackage
*.mp4
*.mov
*.zip
